[user]
	name = Xaheen
	email = mr.robot.me@yandex.com
	username = XaheenA
	useConfigOnly = true
	signingkey =
# git config --global credential.helper 'cache --timeout=4800'
[github]
	user = XaheenA
	email = mr.robot.me@yandex.com
	token =

[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	abbrev = 12
	attributesfile = ~/.gitattributes
	autocrlf = input
	excludesfile = ~/.gitignore

[alias]
    # log
    ll    = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgb   = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    lgp   = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
    lga   = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgt   = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
    # list branch
    lb    = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    # list aliases
    la    = "!git config -l | grep alias | cut -c 7-"    
    acall = !git add -A && git commit -m \"Minor fixes\"
	st    = status
	POM   = push origin master
	PUM   = pull origin master
	filehist = log --follow -p
    rank  = shortlog -sn --no-merges
[push]
	default = matching

[color]
	ui = auto

[color "branch"]
	current = green bold
	local = yellow bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = white reverse
	newMoved = cyan
	oldMoved = blue
	colorMoved = zebra

[color "status"]
	added = green reverse
	changed = yellow reverse
	untracked = red reverse

[diff]
	tool = vimdiff
